li {
	line-height: 150%;
}

table {
	border-collapse: collapse;
	width: 100%;
}


th, td {
	text-align: center;
	padding: 8px;
}


td {
	line-height: 150%;
	width: 10%;
}

tbody tr td:nth-child(2) {
	width: 20%;
        word-break: break-all;
}


tbody tr td:nth-child(4) {
	text-align: right;
}

tbody tr td:nth-child(5) {
	text-align: right;
}

tbody tr td:nth-child(6) {
	text-align: right;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

.brown table thead {
	background-color: #A52A2A;
	color: white;
}

.cornflowerblue table thead {
	background-color: #6495ED;
	color: white;
}

.forestgreen table thead {
	background-color: #228B22;
	color: white;
}

.orange table thead {
	background-color: #FFA500;
	color: white;
}

.yellow table thead {
	background-color: #FFFF00;
	color: white;
}

.blue table thead {
	background-color: #0000FF;
	color: white;
}

.deepskyblue table thead {
	background-color: #00BFFF;
	color: white;
}

.red table thead {
	background-color: #FF0000;
	color: white;
}

.purple table thead {
	background-color: #800080;
	color: white;
}


